---
layout: base.njk
---
{% if metadata.banner %}
<style>
  .masthead {
    height: 30vh;
    min-height: 200px;
    background-image: url({{ metadata.banner }});
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
<div class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center shade">
        <h1 class="text-light">
          {{ metadata.title }} // {{ metadata.author }}
        </h1>
         </div>
    </div>
  </div>
</div>
{% endif %}
<hr>
<div class="row">
  <div class="col-9">


    {% if not metadata.banner %}
     <h1>{{metadata.title}} | {{metadata.author}} </h1>
     <h2>{{metadata.subtitle}}</h2> 
    {% endif %}
    <article>
      {{content | safe}}
    </article>
      <p>{{ metadata.description }}</p>    
    </div>

    <div class="col-3 bg-light">
      {% if metadata.thumbnail %}
      <a href = "{{metadata.thumbnail}}">
        <img src = "{{metadata.thumbnail}}" class = "img-thumbnail">
       </a>
      {% endif %}
      {% if metadata.links %}
    <h4>links</h4>
    {% endif %} 
    {% for el in metadata.links %}
    <div>
      <a href="{{ el.link }}">
        <button type="button" class="btn btn-outline-secondary">{{ el.title }}</button>
      </a>
    </div>
    {% endfor %} 
    {% if metadata.socials %}
    <h4>social</h4>
    {% endif %} 
    {% for social in metadata.socials %}
    <div>
      <a href="{{ social.link }}">
        <button type="button" class="btn btn-outline-secondary">{{ social.title }}</button>  
      </a>
    </div>
    {% endfor %}
  <hr>
    <span class="badge bg-dark rounded-pill" >
      {{ metadata.phase }} {{ metadata.type }}
    </span>
  </div>

</div>

{% if resources %}



{% endif %}

<div class="row masonry"  data-masonry='{"percentPosition": true }'>
  
 
  {% for re in resources %}
{% if re.type == "series" %}
  <div class="row" data-masonry='{"percentPosition": true }'>
    <h4>{{ re.title }}</h4>
    <h5>resource series</h5>
    <p>{{ re.description }}</p>
    {% for s in re.resources %}
    <div class="col-md-6 p-1 m-1">
  

      {% if s.type == "link" or s.type == "text"%}
      

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{s.title}}</h5>
            <p class="card-text">{{s.description}}</p>
            <a href="s.url" class="card-link">link</a>
          </div>
        </div>

       {%- elseif s.type == "youtube" -%}
     
  
       <div class="card">
        <h5 class="card-title">{{s.title}}</h5>
        <a href = "{{s.url}}">
          <iframe
          src="https://youtube.com/embed/{{ s.id }} "
          width="100%"
          height="auto"
          frameborder="0"
          allow="autoplay; fullscreen"
          allowfullscreen
        ></iframe>
      </a>
        <div class="card-body">
          <p class="card-text">{{s.description}}</p>
        </div>
      </div>

       {%- elseif s.type == "video" -%}
     
       <div class="card">
        <h5 class="card-title">{{s.title}}</h5>
        <a href = "{{s.url}}">
       <div>
         <a href = "{{s.url}}">
          <video src = "{{s.url}}" class = "img-thumbnail">
         </a>
         </div>
        </a>
        <div class="card-body">
          <p class="card-text">{{s.description}}</p>
        </div>
      </div>

       {%- elseif s.type == "image" -%}
 
        <div class="card">
          <h5 class="card-title">{{s.title}}</h5>
          <a href = "{{s.url}}">
          <img src="{{s.url}}" class="card-img-top" alt="...">
        </a>
          <div class="card-body">
            <p class="card-text">{{s.description}}</p>
          </div>
        </div>
     
        {%- elseif s.type == "openprocessing" -%}
         
        <div class="card">
          <h5 class="card-title">{{s.title}}</h5>
          <a href = "{{s.url}}">
        <iframe
          src="https://openprocessing.org/sketch/{{ s.id }}/embed "    
          width="400"    
          height = "400"
          frameborder="0"
          allow="autoplay; fullscreen"
          allowfullscreen
        ></iframe>


        
      </a>
      <div class="card-body">
        <p class="card-text">{{s.description}}</p>
      </div>
    </div>
        
       {% elseif s.type == "audio" %}
       <audio
       controls controlslist
       src="{{s.url}}"></audio>
       {% elseif s.type == "vimeo" %}
       <div class="card">
        <h5 class="card-title">{{s.title}}</h5>
        <a href = "{{s.url}}">
      <iframe
        src="https://player.vimeo.com/video/{{ s.id }}"
        width="100%"
        height  = "auto"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen
      ></iframe>
    </a>
    <div class="card-body">
      <p class="card-text">{{s.description}}</p>
    </div>
  </div>
      {% endif %}
    </div>
    {% endfor %}
    </div>
    {# NOT SERIES #}
{% else %}
        <div class="col-6 bg-light py-2" style="padding-bottom: 10px; padding-top: 10px">
        
          {%- if re.type == "link" or re.type == "text" -%}

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{re.title}}</h5>
              <p class="card-text">{{re.description}}</p>
              <a href="{{re.url}}" class="card-link">link</a>
            </div>
          </div>

          {%- elseif re.type == "openprocessing" -%}
         
          <div class="card">
            <h5 class="card-title">{{re.title}}</h5>
            <a href = "{{re.url}}">
          <iframe
            src="https://openprocessing.org/sketch/{{ re.id }}/embed "    
            width="100%"    
            height = "auto"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>


          
        </a>
        <div class="card-body">
          <p class="card-text">{{re.description}}</p>
        </div>
      </div>
          

          {%- elseif re.type == "vimeo" -%}
         
          <div class="card">
            <h5 class="card-title">{{re.title}}</h5>
            <a href = "{{re.url}}">
          <iframe
            src="https://player.vimeo.com/video/{{ re.id }} "    
            width="100%"    
            height = "auto"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </a>
        <div class="card-body">
          <p class="card-text">{{re.description}}</p>
        </div>
      </div>
          {%- elseif re.type == "audio" -%}
          <audio controlslist
          controls
          src="{{re.url}}"></audio>
          {%- elseif re.type == "youtube" -%}


          <div class="card">
            <h5 class="card-title">{{re.title}}</h5>
            <a href = "{{re.url}}">
              <iframe
              src="https://youtube.com/embed/{{ re.id }}"  
              width="100%"  
              height = "auto" 
              frameborder="0"
              allow="autoplay; fullscreen"
              allowfullscreen
            ></iframe>
  
          </a>
            <div class="card-body">
              <p class="card-text">{{re.description}}</p>
            </div>
          </div>

          {%- elseif re.type == "image" -%}
        
          <div class="card">
            <h5 class="card-title">{{re.title}}</h5>
            <a href = "{{re.url}}">
            <img src="{{re.url}}" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <p class="card-text">{{re.description}}</p>
            </div>
          </div>
          
            {%- elseif re.type == "video" -%}
    
              <div class="card">
                <h5 class="card-title">{{re.title}}</h5>
                <a href = "{{re.url}}">
                  <video src = "{{re.url}}" class = "img-thumbnail">
                 </a>
                <div class="card-body">
                  <p class="card-text">{{re.description}}</p>
                </div>
              </div>


          {% endif %}
          
        </div>
   
{% endif %}       
{% endfor %}
</div>

{% if texts %}
<div class="row">
  <h2>texts:</h2>
{% for txt in texts %}
  <div class="col-3 bg-light" style="padding-bottom: 10px;padding-top: 10px">
    <h4>{{ txt.title }}</h4>
    <p>{{ txt.description }}</p>
    {% if txt.thumbnail%}
    <img src = "{{txt.thumbnail}}" class = "img-thumbnail">
    {% endif %}
    {% if txt.type == "gdoc"%}
        <a href="{{ txt.url }}"
      ><button type="button" class="btn btn-outline-info">{{ txt.type }}</button></a>
    {% elif txt.type == "html" or txt.type == "md"%}
    <a href="/texts/{{ txt.url }}"
    ><button type="button" class="btn btn-outline-info">{{ txt.type }}</button></a>
    {% elif txt.type == "pdf" or txt.type == "docx"%}
    <a href="/texts/{{ txt.url }}.{{ txt.type }}">
      <button type="button" class="btn btn-outline-info">{{ txt.type }}</button></a> 
      {% elif txt.type == "link"%}
      <a href="{{ txt.url }}">
        <button type="button" class="btn btn-outline-info">{{ txt.type }}</button></a> 
    {% endif %}

  </div>
{% endfor %}
</div>
{% endif %}
