---
layout: base.njk
---
{% if metadata.banner %}
<style>
  .masthead {
    height: 30vh;
    min-height: 200px;
    background-image: url({{ metadata.banner }});
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
<div class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center shade">
        <h1 class="text-light">
          {{ metadata.title }} // {{ metadata.author }}
        </h1>
         </div>
    </div>
  </div>
</div>
{% endif %}
<hr>
<div class="row">
  <div class="col-9">


    {% if not metadata.banner %}
     <h1>{{metadata.title}} | {{metadata.author}} </h1>
     <h2>{{metadata.subtitle}}</h2> 
    {% endif %}
    <article>
      {{content | safe}}
    </article>
      <p>{{ metadata.description }}</p>    
    </div>

    <div class="col-3">
      {% if metadata.thumbnail %}
      <a href = "{{metadata.thumbnail}}">
        <img src = "{{metadata.thumbnail}}" class = "bg-light img-thumbnail my-2">
       </a>
      {% endif %}
      {% if metadata.links %}
    <h4>links</h4>
    {% endif %} 
    {% for el in metadata.links %}
    <div>
      <a href="{{ el.link }}">
        <button type="button" class="btn btn-outline-secondary">{{ el.title }}</button>
      </a>
    </div>
    {% endfor %} 
    {% if metadata.socials %}
    <h4>social</h4>
    {% endif %} 
    {% for social in metadata.socials %}
    <div class = "py-1">
      <a href="{{ social.link }}">
        <button type="button" class="btn btn-outline-secondary">{{ social.title }}</button>  
      </a>
    </div>
    {% endfor %}
<hr>
    <span class="badge bg-dark rounded-pill" >
      {{ metadata.phase }} {{ metadata.type }}
    </span>
  </div>

</div>
<hr>

<div class="row masonry"  data-masonry='{"percentPosition": true }'>
  
{% for re in resources %}
{% if re.type == "series" %}

    <div class = "col-md-6 bg-light py-1 my-1">
        <h4>{{ re.title }}</h4>
        <h5>resource series</h5>
        
        <p>{{ re.description }}</p>
    </div>

    {% for r in re.resources %}
    <div class="col-md-6 col-xl-4 py-1">
        <div class="card my-2">
          <div class="card-body">
             {% if r.title %}
            <h5 class="card-title" >{{r.title}}</h5>
              {% endif %}
              {% if r.description %}
            <p class="card-text">{{r.description}}</p>
            {# link #}
            {% endif %}
    
            {% if r.type == "link" or r.type == "text" %}
            <a href="{{r.url}}" class="card-link">link</a>
    {#                       openprocessing #}
            {% elseif r.type == "openprocessing" %}
            <iframe
            src="https://openprocessing.org/sketch/{{ r.id }}/embed "    
            width="100%"    
            height = "auto"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
          {% elseif r.type == "vimeo" %}
          <a href = "{{r.url}}">
              <iframe
                src="https://player.vimeo.com/video/{{ r.id }} "    
                width="100%"    
                height = "auto"
                frameborder="0"
                allow="autoplay; fullscreen"
                allowfullscreen
              ></iframe>
            </a>
            {%- elseif r.type == "audio" -%}
            <audio controlslist
            controls
            src="{{r.url}}"></audio>
            {%- elseif r.type == "youtube" -%}
            <a href = "{{r.url}}">
              <iframe
              src="https://youtube.com/embed/{{ r.id }}"  
              width="100%"  
              height = "auto" 
              frameborder="0"
              allow="autoplay; fullscreen"
              allowfullscreen
            ></iframe>
    
          </a>
          {%- elseif r.type == "image" -%}
          
          <a href = "{{r.url}}">
            <img src="{{r.url}}" class="card-img-top" alt="...">
          </a>
    
          {%- elseif r.type == "video" -%}
    
          <a href = "{{r.url}}">
            <video src = "{{r.url}}" class = "img-thumbnail">
          </a>
             {% endif %}
          </div>
        </div>
    </div>
     
    {% endfor %}


    {# NOT SERIES #}
{% else %}


<div class="col-md-6 col-xl-4 py-1">
    <div class="card my-2">
      <div class="card-body">
         {% if re.title %}
        <h5 class="card-title" >{{re.title}}</h5>
          {% endif %}
          {% if re.description %}
        <p class="card-text">{{re.description}}</p>
        {# link #}
        {% endif %}

        {% if re.type == "link" or re.type == "text" %}
        <a href="{{re.url}}" class="card-link">link</a>
{#                       openprocessing #}
        {% elseif re.type == "openprocessing" %}
        <iframe
        src="https://openprocessing.org/sketch/{{ re.id }}/embed "    
        width="100%"    
        height = "auto"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen
      ></iframe>
      {% elseif re.type == "vimeo" %}
      <a href = "{{re.url}}">
          <iframe
            src="https://player.vimeo.com/video/{{ re.id }} "    
            width="100%"    
            height = "auto"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </a>
        {%- elseif re.type == "audio" -%}
        <audio controlslist
        controls
        src="{{re.url}}"></audio>
        {%- elseif re.type == "youtube" -%}
        <a href = "{{re.url}}">
          <iframe
          src="https://youtube.com/embed/{{ re.id }}"  
          width="100%"  
          height = "auto" 
          frameborder="0"
          allow="autoplay; fullscreen"
          allowfullscreen
        ></iframe>

      </a>
      {%- elseif re.type == "image" -%}
      
      <a href = "{{re.url}}">
        <img src="{{re.url}}" class="card-img-top" alt="...">
      </a>

      {%- elseif re.type == "video" -%}

      <a href = "{{re.url}}">
        <video src = "{{re.url}}" class = "img-thumbnail">
      </a>
         {% endif %}
      </div>
    </div>
  </div> 


   
{% endif %}       
{% endfor %}


{% if texts %}

{% for txt in texts %}
  <div class="col-sm-3 py-1 pb-3">
    <div class="card my-2">
        <div class="card-body">
           {% if txt.title %}
          <h5 class="card-title" >{{ txt.title }}</h5>
            {% endif %}
            {% if txt.description %}
            <p>{{txt.description}}</p>
            {% endif %}
  
            {% if txt.thumbnail%}
            <img src = "{{txt.thumbnail}}" class = "img-thumbnail">
            {% endif %}
            <div class = "text-center">
    {% if txt.type == "gdoc"%}
        <a href="{{ txt.url }}"
      ><button type="button" class="btn"><i class="fa-solid fa-file-lines fa-2xl"></i></button></a>
     
    {% elif txt.type == "html" or txt.type == "md"%}
    <a href="/texts/{{ txt.url }}"
    ><button type="button" class="btn"><i class="fa-solid fa-file-lines fa-2xl"></i></button></a>

    {% elif txt.type == "pdf" or txt.type == "docx"%}
    <a href="/texts/{{ txt.url }}.{{ txt.type }}">
      <button type="button" class="btn"><i class="fa-solid fa-file-lines fa-2xl"></i></button></a> 
    
      {% elif txt.type == "link"%}
      <a href="{{ txt.url }}">
        <button type="button" class="btn"><i class="fa-solid fa-file-lines fa-2xl"></i></button></a> 
       
    {% endif %}
    </div>
      </div>
  </div>
  </div>
{% endfor %}

{% endif %}
</div>