---
layout: base.njk
---

<div class="row masonry" data-masonry='{"percentPosition": true }'>
  {% for i in images | shuffle %}

  <div class="col-xs-6 col-sm-4 my-2">
    <a href="{{ i }}">
      <img src="{{ i }}" class="img-fluid" alt=""></img>
    </a>
  </div>
  {% endfor %}
</div>

<script>
  $(function () {
    var $container = $(".masonry");
    $container.imagesLoaded(function () {
      $container.masonry({
        itemSelector: ".item",
      });
    });
  });
</script>
