.dark-mode {
  background-color: black;
  color: white;
}

cb:after {
  background-color: #4c00b0;
}

embed {
  position: absolute;
  bottom: 0;
}

blockquote {
  border-width: 10px;
  border-color: black;
}

.slomocoNav {
  background-color: #dec2eb;
  color: #052d61;
  /* #F4D187 */
}

p,
button,
body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
span {
  font-family: "Raleway", sans-serif;
}

body {
  /* background-color: "#b0c7bd"; */
}

.shade {
  background-color: #052d61;
  opacity: 0.8;
}

a {
  color: #052d61;
}

a:hover {
  color: #f4d187;
}

.nav-butt {
  text-align: left;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

canvas {
  position: relative;
  z-index: -3 !important;
}
